<div class="row el-element-overlay">
    <div class="col-md-12">
        <h4 class="card-title">My Library</h4>
        <h6 class="card-subtitle m-b-20 text-muted">My Books are here</h6> 
    </div>
    <% _.each(library.books, function(book){ %>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="<%= book.thumbnail%>" alt="book"/>
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="/book/<%=book.id%>"><i class="mdi mdi-information-outline"></i></a></li>
                            <li><a class="btn default btn-outline" href="/library/removeBook?book=<%=book.id%>"><i class="mdi mdi-delete"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title"><%=book.title%></h3> <small><%=book.authors%></small>
                    <br/> </div>
            </div>
        </div>
    </div>
    <%})%>
</div>