<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card blog-widget">
            <div class="card-body">
                <div class="blog-image"><img src="<%=userBook.book.thumbnail%>" alt="img" class="img-responsive"></div>
                <h3><%=userBook.book.title%></h3>
                <p class="m-t-20 m-b-20">
                    <%=userBook.book.authors%>
                </p>
                <div class="d-flex">
                    <div class="read"><a href="#" class="link font-medium">Read More</a></div>
                    <div class="ml-auto">
                        <a href="#" class="link m-r-10 " data-toggle="tooltip" title="" data-original-title="Like"><i class="mdi mdi-heart-outline"></i></a> <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="Share"><i class="mdi mdi-share-variant"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                    <div class="row">
                        <!-- Column -->
                        <div class="col-lg-6 col-xlg-3 col-md-6">
                            <div class="card-body">
                                <h3 class="card-title m-b-30">Continue Reading</h3>
                                <form class="form" action="/library/addsession" method="POST">
                                    <input name="userBook" value="<%=userBook.id%>" hidden>
                                        <div class="form-group">
                                            <label for="pages">Pages</label>
                                            <div class="input-group">
                                                <input type="number" step="1" min="0" required max="<% if(sessions && sessions[0]){%><%= userBook.book.pageCount -  sails.util.pluck(sessions, 'pages').reduce((a, b) => a + b, 0) %><%}else{%><%=userBook.book.pageCount%><%}%>" class="form-control" id="pages" name="pages" placeholder="N° of Pages">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="duration">Minutes</label>
                                            <div class="input-group">
                                                <input type="number" step="1" min="1" required class="form-control" id="duration" name="duration" placeholder="Minutes reading">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="date">Date</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control singledate" required id="date" name="date" placeholder="Session Date">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Add Session</button>
                                        <button type="reset" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                                    </form>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-lg-6 col-xlg-9 col-md-6 b-l p-l-0">
                            <ul class="product-review">
                                <li>
                                    <span class="text-muted display-5"><i class="mdi mdi-book-open-page-variant"></i></span>
                                    <div class="dl m-l-10">
                                        <h3 class="card-title">Pages Read</h3>
                                        <h6 class="card-subtitle"><% if(sessions && sessions[0]){%><%= sails.util.pluck(sessions, 'pages').reduce((a, b) => a + b, 0) %><%}else{%>0<%}%>/<%=userBook.book.pageCount%></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <% if(sessions && sessions[0]){%><%= (sails.util.pluck(sessions, 'pages').reduce((a, b) => a + b, 0) * 100 / userBook.book.pageCount) %><%}else{%>0<%}%>%; height:6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <span class="text-muted display-5"><i class="mdi mdi-timer"></i></span>
                                    <div class="dl m-l-10">
                                        <h3 class="card-title">Read Time</h3>
                                        <h6 class="card-subtitle"><% if(sessions && sessions[0]){%><%= sails.util.pluck(sessions, 'duration').reduce((a, b) => a + b, 0) %><%}else{%>0<%}%> minutes</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: <% if(sessions && sessions[0]){%><%= (sails.util.pluck(sessions, 'pages').reduce((a, b) => a + b, 0) * 100 / userBook.book.pageCount) %><%}else{%>0<%}%>%; height:6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <span class="text-muted display-5"><i class="mdi mdi-star-half"></i></span>
                                    <div class="dl m-l-10">
                                        <h3 class="card-title">Sessions</h3>
                                        <h6 class="card-subtitle"><% if(sessions && sessions[0]){%><%= sails.util.pluck(sessions, 'duration').length %><%}else{%>0<%}%> Sessions</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 100%; height:6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Column -->
                    </div>
                </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                    <div>
                        <h4 class="card-title" style="float: left;">Quotes</h4>
                        <button type="button" style="float: right; margin-top: -15px;" class="btn btn-primary btn-circle"><i class="ti-plus text"></i> </button>                        
                    </div>
                <div class="table-responsive">
                    <table class="table full-color-table full-primary-table hover-table">
                        <thead>
                            <tr>
                                <th>Page</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2018/01/01 11:25:00</td>
                                <td>
                                    <a href="#" class="btn btn-info btn-circle"><i class="ti-pencil"></i> </a>
                                    <a href="#" class="btn btn-danger btn-circle"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2018/01/01 11:25:00</td>
                                <td>
                                    <a href="#" class="btn btn-info btn-circle"><i class="ti-pencil"></i> </a>
                                    <a href="#" class="btn btn-danger btn-circle"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div>
                        <h4 class="card-title" style="float: left;">Thoughts</h4>
                        <button type="button" style="float: right; margin-top: -15px;" class="btn btn-success btn-circle"><i class="ti-plus text"></i> </button>                        
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table full-color-table full-success-table hover-table">
                        <thead>
                            <tr>
                                <th>Page</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2018/01/01 11:25:00</td>
                                <td>
                                    <a href="#" class="btn btn-info btn-circle"><i class="ti-pencil"></i> </a>
                                    <a href="#" class="btn btn-danger btn-circle"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2018/01/01 11:25:00</td>
                                <td>
                                    <a href="#" class="btn btn-info btn-circle"><i class="ti-pencil"></i> </a>
                                    <a href="#" class="btn btn-danger btn-circle"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.singledate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'DD/MM/YYYY'
        }
    });
</script>
<%= JSON.stringify(sails.util.pluck(sessions, 'pages') )%>