<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="<%= book.thumbnail%>" alt="Card image">
            <div class="card-img-overlay card-inverse social-profile d-flex ">
                <div class="align-self-center"> <img src="<%= book.thumbnail%>" class="img-circle" width="100" height="100">
                    <h4 class="card-title"><%=book.title%></h4>
                    <h6 class="card-subtitle"><%=book.authors%></h6>
                    <p class="text-white"><%=book.subtitle%></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <small class="text-muted db">Social Profile</small>
                <br/>
                <a href="<%=book.canonicalVolumeLink%>" target="_blank" class="btn btn-circle btn-secondary"><i class="mdi mdi-cart"></i></a>
                <a href="<%=book.previewLink%>" target="_blank" class="btn btn-circle btn-secondary"><i class="mdi mdi-book-open-page-variant"></i></a>
                <a href="#" class="btn btn-circle btn-secondary"><i class="mdi mdi-share-variant"></i></a>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <div class="card-body">
                        <div class="row">
                            <a href="/library/addBook?book=<%=book.id%>" class="btn waves-effect waves-light btn-success">Add to Library</a>
                        </div>
                    </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Details</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!--second tab-->
                <div class="tab-pane active" id="profile" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Publisher</strong>
                                <br>
                                <p class="text-muted"><%=book.publisher%></p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Pages</strong>
                                <br>
                                <p class="text-muted"><%=book.pageCount%></p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Rating</strong>
                                <br>
                                <p class="text-muted"><strong><%=book.averageRating%></strong><br> Total: <i class="mdi mdi-account-multiple"></i> <%=book.ratingsCount%> </p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>Language</strong>
                                <br>
                                <p class="text-muted"><%=book.language%></p>
                            </div>
                        </div>
                        <hr>
                        <h4 class="font-medium m-t-30">Categories</h4>
                        <p class="m-t-30"><%=book.categories%></p>
                        <hr>
                        <h4 class="font-medium m-t-30">Description</h4>
                        <p class="m-t-30"><%=book.description%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>