<div class="row">
    <div class="col-12">
        <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Books</h4>
                    <hr>
                    <div class="table-responsive table-striped">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Publisher</th>
                                    <th>Authors</th>
                                    <th>ISBN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(books, function(book){ %>
                                    <tr onclick="window.location='/book/<%=book.id%>'">
                                        <td>
                                            <% if (book.smallThumbnail){ %>
                                                <img src="<%=book.smallThumbnail%>" class="img-thumbnail" height="90px" width="90px">
                                            <%}else{%>
                                                <img src="/images/book/no-image.jpg" class="img-thumbnail" height="90px" width="90px">
                                            <%}%>
                                        </td>
                                        <td>
                                            <% if (book.title){ %>
                                                <%=book.title%>
                                            <%}else{%>
                                                n/a
                                            <%}%>
                                        </td>
                                        <td>
                                            <% if (book.publisher){ %>
                                                <%=book.publisher%>
                                            <%}else{%>
                                                n/a
                                            <%}%>
                                        </td>
                                        <td>
                                            <% if (book.authors){ %>
                                                <%=book.authors%>
                                            <%}else{%>
                                                n/a
                                            <%}%>
                                        </td>
                                        <td>
                                            <%=book.isbn13%>
                                        </td>
                                    </tr>
                                <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>