<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Search</h4>
            </div>
            <div class="card-body">
                <form action="/book/search" method="POST">
                    <div class="form-body">
                        <div class="row p-t-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" id="search" name="search" class="form-control" placeholder="Search books">
                                </div>
                                <button type="submit" class="btn btn-success" id="btn_search" style="float: right;"> <i class="fa fa-check"></i> Search</button>    
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%if (api && api.items){%>
<div class="row">
    <div class="col-12">
        <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Results </h4>
                    <hr>
                    <div class="table-responsive table-striped">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Publisher</th>
                                    <th>Authors</th>
                                    <th>ISBN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(api.items, function(book){ %>
                                    <tr onclick="window.location='/book/import?id=<%=book.id%>'">
                                        <td>
                                            <% if (book.volumeInfo.imageLinks && book.volumeInfo.imageLinks.smallThumbnail){ %>
                                                <img src="<%=book.volumeInfo.imageLinks.smallThumbnail%>" class="img-thumbnail" height="90px" width="90px">
                                            <%}else{%>
                                                <img src="/images/book/no-image.jpg" class="img-thumbnail" height="90px" width="90px">
                                            <%}%>
                                        </td>
                                        <td>
                                            <% if (book.volumeInfo.title){ %>
                                                <%=book.volumeInfo.title%>
                                            <%}else{%>
                                                n/a
                                            <%}%>
                                        </td>
                                        <td>
                                            <% if (book.volumeInfo.publisher){ %>
                                                <%=book.volumeInfo.publisher%>
                                            <%}else{%>
                                                n/a
                                            <%}%>
                                        </td>
                                        <td>
                                            <% if (book.volumeInfo.authors){ %>
                                                <%=book.volumeInfo.authors%>
                                            <%}else{%>
                                                n/a
                                            <%}%>
                                        </td>
                                        <td>
                                            <% _.each(book.volumeInfo.industryIdentifiers, function(isbns){ %>
                                                <% if (isbns.type == "ISBN_13"){ %>
                                                    <%=isbns.identifier%>
                                                <%}%>
                                            <%})%>
                                        </td>                                        
                                    </tr>
                                <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>
<%}%>