<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white"><%=book.title%> - Quotes</h4>
            </div>
            <div class="card-body">
                <form action="/quote/update" method="POST">
                    <div class="form-body">
                        <input hidden name="book" value="<%=book.id%>">
                        <input hidden name="id" value="<% if ( !('undefined' == typeof(quote)) ){ %><%= quote.id%><% } %>">
                        <div class="row p-t-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="page">Page</label>
                                    <input class="form-control" type="number" min="0" step="1" vaue="0" id="page" name="page" value="<% if ( !('undefined' == typeof(quote)) ){ %><%=quote.page%><%}%>" >
                                </div>

                                <div class="form-group">
                                    <label>Text</label>
                                    <textarea class="form-control" name="text" rows="5"><% if ( !('undefined' == typeof(quote)) ){ %><%=quote.text%><%}%></textarea>
                                </div>


                                <button type="submit" class="btn btn-success" id="btn_search" style="float: right;"> <i class="fa fa-check"></i> Save</button>    
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>