<div class="row">
    <div class="col-12">
        <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Quotes</h4>
                    <hr>
                    <div class="table-responsive table-striped">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Book</th>
                                    <th>Page</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% _.each(quotes, function(quote){ %>
                                    <tr onclick="window.location='/quote/edit/<%=quote.id%>'">
                                        <td><%=quote.book.title%></td>
                                        <td><%=quote.page%></td>
                                    </tr>
                                <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>